COMPREFACE_PORT=8000
COMPREFACE_POSTGRES_USER=compreface
COMPREFACE_POSTGRES_PASSWORD=compreface
COMPREFACE_POSTGRES_DB=compreface
COMPREFACE_MAX_FILE_SIZE=5MB
COMPREFACE_MAX_REQUEST_SIZE=10
COMPREFACE_CONNECTION_TIMEOUT=10000
COMPREFACE_READ_TIMEOUT=60000
COMPREFACE_MAX_DETECT_SIZE=1024
COMPREFACE_SAVE_IMAGES_TO_DB=true
COMPREFACE_ENABLE_EMAIL_SERVER=false
COMPREFACE_API_JAVA_OPTS=-Xms256m -Xmx512m
COMPREFACE_ADMIN_JAVA_OPTS=-Xms256m -Xmx512m
COMPREFACE_UWSGI_PROCESSES=2
COMPREFACE_UWSGI_THREADS=1
